@font-face {
  font-family: 'MyFont';
  src: url('@/assets/fonts/main-font.otf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'MyFont', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  padding: 10px;
}
